body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* Your background image */
    background: url("https://www.oxfordauditing.com/images/slider/desktop_imagecGpIVzRkN3Q1ekxpV2xGUiswTC9jQT09.jpg")
                no-repeat center center/cover;

    height: 100vh;
}

/* Dark overlay */
.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.container {
    width: 400px;
    color: white;
}

/* Title */
h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #ccc;
}

/* Cards */
.cards {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.card {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
}

.today {
    background: #2e8b57;
}

.total {
    background: #111;
}

/* Glass effect sections */
.form, .history {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}

/* Categories */
.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.categories button {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
}

.categories button.active {
    background: #2e8b57;
}


.add-btn {
    width: 100%;
    padding: 10px;
    background: #2e8b57;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


li {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

small {
    color: #aaa;
}